{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="juggling-balls.html">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Ineligbile
      </h1>

      <p>Sorry, you are ineligible at this time. Please try again later.</p>

      <p>You can find tutorials on how to improve your juggling skills <a href="http://www.youtube.com/watch?v=JZmmOdnljG4">here</a>.</p>

    </div>
  </div>

{% endblock %}
